@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .search-input {
    @apply focus:ring-0 focus:outline-none w-full;
  }

  .input-container {
    @apply flex flex-col pl-6 py-2 pr-2 rounded-full;
  }

  .search-button {
    @apply bg-primary rounded-full text-white p-1;
  }
  .clas {
    @apply w-28 h-16;
  }
  .clas1 {
    @apply text-start;
  }
  .clas2 {
    @apply text-justify text-xxl pb-3 font-medium text-gray-600;
  }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.rdrMonth {
  width: 100% !important;
}
.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}
